// SquidToPullOverX 共享构建配置。
THEOS = /opt/theos
DEVKIT = $(SRCROOT)/roothide-devkit

POP_SCHEME = roothide
POP_ROOTHIDE_LDFLAGS = -lroothide

SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 15.0
ARCHS = arm64e
VALID_ARCHS = arm64 arm64e
ONLY_ACTIVE_ARCH = NO
ENABLE_BITCODE = NO
CLANG_ENABLE_OBJC_ARC = YES
ALWAYS_SEARCH_USER_PATHS = NO
VERSIONING_SYSTEM = apple-generic
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

CODE_SIGN_IDENTITY =
CODE_SIGN_IDENTITY[sdk=iphoneos*] =
CODE_SIGNING_REQUIRED = NO
CODE_SIGNING_ALLOWED = NO
CODE_SIGN_STYLE = Manual
AD_HOC_CODE_SIGNING_ALLOWED = YES

HEADER_SEARCH_PATHS = $(inherited) $(DEVKIT) $(DEVKIT)/roothide $(THEOS)/vendor/include $(THEOS)/include
FRAMEWORK_SEARCH_PATHS = $(inherited) $(THEOS)/vendor/lib/iphone/$(POP_SCHEME) $(THEOS)/vendor/lib
LIBRARY_SEARCH_PATHS = $(inherited) $(THEOS)/vendor/lib/iphone/$(POP_SCHEME) $(DEVKIT)/roothide $(THEOS)/vendor/lib

POP_SCHEME_DEFS = THEOS_PACKAGE_SCHEME_ROOTHIDE=1
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(POP_SCHEME_DEFS)

OTHER_LDFLAGS = $(inherited) -undefined dynamic_lookup

GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_SYMBOLS_PRIVATE_EXTERN = YES
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = non-global
COPY_PHASE_STRIP = NO